li{
    display: inline;
}

.home{
    position: absolute;
    width: 96px;
    height: 45px;
    left: 161px;
    top: 37px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
}

.order{
/* order */


position: absolute;
width: 124px;
height: 21px;
left: 292px;
top: 37px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.contact{
    position: absolute;
    width: 171px;
    height: 57px;
    left: 451px;
    top: 37px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    
}

.signin{
   
    
    
    position: absolute;
    width: 219px;
    height: 57px;
    left: 657px;
    top: 37px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
}

#header{
    position: absolute;
width: 1440px;
height: 82px;
left: 0px;
top: 0px;

/* Gray 6 */

background: #F2F2F2;
}

.IMG{
    position: absolute;
width: 126px;
height: 75px;
left: 0px;
top: 0px;
display: inline;

}
footer{
    position: absolute;
width: 1440px;
height: 82px;
left: 0px;
top: 537px;

/* Gray 6 */

background: #F2F2F2;
}

.IMG2{

width: 137.91px;
height: 82px;
left: 0px;
top: 537px;
}
