.wrapper{
    min-height: 100vh;    
    margin: 0px;
}

body{margin: 0px;}

header{
    width: 100%;
    background: #02DEC4;
    height: 100px;
    }

footer{
    position: absolute;
    bottom:0;
    width: 100%;
    background: #02DEC4;
    }
#sendorder{
    margin:0px;
    display:inline;
    
};
