header{
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 0px;
    
    background: #02DEC4;

    };

/*footer{
    position: absolute;
width: 1440px;
height: 150px;
left: 0px;
top: 874px;

background: #02DEC4;
};*/

.logo1{
    width: 199px;
    height: 88px;
    left: 35px;
    top: 35px;
    display: inline;


};